@using Common.Resources;

<table class="table table-striped table-condensed awa-users" ng-if="$ctrl.users.length > 0">
    <thead>
        <tr>
            <td>@Titles.First_name</td>
            <td>@Titles.Last_name</td>
            <td>@Titles.Email</td>
            <td class="awa-actions">@Titles.Actions</td>
        </tr>
    </thead>
    <tr class="awa-user" ng-repeat="user in $ctrl.users">
        <td>{{user.FirstName}}</td>
        <td>{{user.LastName}}</td>
        <td>{{user.Email}}</td>
        <td class="awa-actions">
            <button class="btn btn-sm btn-warning" ng-click="$ctrl.edit(user)">
                <span class="glyphicon glyphicon-edit"></span>
                @Titles.Edit
            </button>
            <button class="btn btn-sm btn-danger" ng-click="$ctrl.delete(user)">
                <span class="glyphicon glyphicon-remove"></span>
                @Titles.Delete
            </button>
        </td>
    </tr>
</table>
<h4 ng-if="!$ctrl.users.length">@Titles.NoUsers</h4>
